
#WinMain {
    width : 100%;
    background-color: #e7e8e9;
}

QListView {
    font: bold 46px;
    color: #383838;
    alignment : center;
}

QScrollArea {
    background-color: #F1F1EE;
}

QDialog {
    background-color: #F1F1EE;
}

QLabel {
    font : 12pt;
    color : rgb(70, 70, 70);
    min-height : 20px;
    min-width : 30px;
}

QDoubleSpinBox {
    min-height : 40px;
    min-width : 30px;
    font : 18pt;
}

QAbstractButton {
    background-color: rgb(220, 220, 220);
    border-color: rgb(180, 180, 180);
    border-width: 0.5px;
}

QAbstractButton:hover {
    background-color: rgb(210, 210, 210);
    border-color: rgb(180, 180, 180);
    border-width: 0.5px;
}

QAbstractButton:pressed {
    background-color: rgb(200, 200, 200);
    border-width: 0px;
}

#start_front {
  margin: 0px;
  padding: 0px;
}

#order_front {
  margin: 0px;
  padding: 0px;
}

#label_status_bar, #field_status_bar {
  font : 10pt;
}

#label_sale_date {
  min-height: 25px;
  font-size: 16pt;
  padding-left: 5px;
  padding-right: 5px;
}

#field_sale_date {
    color : #424242;
    min-height: 25px;
    font-size: 16pt;
    max-width: 120px;
    padding-left: 7px;
    padding-right: 3px;
    background-color: white;
}

#field_invoice_number {
    color: #424242;
    min-height: 25px;
    font: 20pt;
    background-color: white;
}

/* #field_amount {
    max-height: 50px;
} */

#button_ok {
    background-color: rgb(55, 181, 228);
    border-width: 0px;
    color: white;
    font: 22pt;
}

#button_ok:hover {
    background-color: rgb(41, 170, 218);
}

#button_ok:pressed {
    background-color: rgb(29, 157, 205);
}

#button_cancel {
    background-color: rgb(227, 44, 99);
    border-width: 0px;
    color: white;
    font: 22pt;
}

#button_cancel:hover {
    background-color: rgb(205, 26, 80);
}

#button_cancel:pressed {
    background-color: rgb(181, 31, 76);
}

#button_offline {
    background-color: rgb(170, 175, 183);
    border-width: 0px;
    color: white;
}

#button_offline:pressed {
  background-color: rgb(187, 201, 189);
}

#login_msg_error {
    font : 9pt;
    color : rgb(191, 43, 28);
    min-height : 60px;
}

#back_button {
  background-color: rgb(128, 187, 103);
}

#label_count {
    font : 12pt;
    color : rgb(140, 140, 140);
    background-color: rgb(240, 240, 240);
    min-height : 10px;
    min-width : 40px;
}

#dialog_login {
  background-color: rgb(255, 255, 255);
  min-width : 400px;
}

#button_cancel, #button_ok, #button_offline {
  font : 12pt;
  min-height : 50px;
  min-width : 120px;
}

#button_back_menu {
  max-height: 15px;
}

#button_push_menu {
  font-weight: bold;
  border-style: groove;
  font-size: 26pt;
  color: rgb(241, 160, 23);
  border-width: 0px;
}

#button_push_menu::hover {
  background-color: rgb(241, 215, 170);
}

#button_push_menu:pressed {
  color: rgb(190, 127, 20);
}

#button_close_menu {
  border-style: groove;
  color: rgb(241, 160, 23);
  border-width: 0px;
  text-align: left;
}

#label_dialog {
  color: rgb(70, 70, 70);
  font-size: 16pt;
}

#label_number_notification {
  color: rgb(70, 70, 70);
  text-align: center;
  font-size: 60pt;
  font-weight: bold;
}

#field_filter_addition {
  padding: 5px;
  font-size: 26px;
  max-height: 30px;
}

#label_combo_product {
  padding: 5px;
  font-size: 30px;
  font-weight: bold;
  max-height: 30px;
}

#label_h1 {
    color: rgb(70, 70, 70);
    font-size: 24pt;
    font-weight: bold;
}

#label_h2 {
    color: rgb(70, 70, 70);
    font-size: 22pt;
}
