
QAbstractButton {
    border-style: groove;
    font-size: 16pt;
    color: rgb(102, 102, 102);
    background-color: white;
    min-height: 40px;
    min-width : 90px;
    border-color: rgb(208, 208, 208);
    border-width: 0.5px;
}

#label_input,
#field_default,
#field_medium_gray,
#field_medium_blue,
#field_medium_orange {
    background-color : white;
    border-style : groove;
    border-width : 0.5px;
    border-color : rgb(208, 208, 208);
}

#field_default {
  font-size: 14px;
}

#field_medium_light {
  font-size: 14px;
  color: #505C66;
}

#label_medium_light {
  font-size: 14px;
  color : white;
}

#field_medium_gray, #label_medium_gray {
  font-size: 14px;
  color: rgb(54, 54, 54);
}

#field_medium_blue, #label_medium_blue {
  font-size: 14px;
  color : rgb(0, 30, 80);
}

#field_medium_orange, #label_medium_orange {
  font-size: 14px;
  color: rgb(235, 160, 15);
}

#label_qty, #spin_box_qty, #field_price,
#label_price, #row_field_note, #label_fraction, #row_field_qty,
#field_fraction {
  font-size: 14px;
  alignment : center;
}

#row_field_description {
  font-size: 14px;
  color : #242424;
}

#label_product {
  font : bold 20px;
  alignment : center;
  color : #242424;
}

QSpinBox {
    padding-right: 14px;
    border-width: 3;
    height: 35px;
}

QSpinBox::up-button {
    subcontrol-position: right;
    height: 26px;
    width: 26px;
}

QSpinBox::down-button {
    subcontrol-position: left;
    height: 26px;
    width: 26px;
}

#field_invoice_number {
    min-width : 120px;
    max-width : 140px;
}

#label_position, #label_salesman, #label_payment_term,
    #label_party, #label_global_discount, #field_invoice, #label_invoice,
    #label_agent, #label_date, #label_order_number, #label_default {
    font-size: 12px;
    min-width : 18px;
}

#field_amount {
  max-width : 260px;
  min-width : 180px;
}

#field_total_money {
  padding-right: 150px;
  min-height : 30px;
  max-width : 210px;
  min-width : 80px;
}

#field_total_amount, #field_change, #label_total_amount, #label_change {
    color: rgb(50, 65, 75);
    min-width : 200px;
}

#field_paid, #label_paid {
    color-size: rgb(80, 190, 220);
}

#table_payment {
    color: rgb(70, 70, 70);
    font-size: 12pt;
    max-height : 80px;
}

#table_sale_lines {
    color: rgb(70, 70, 70);
    font: 11pt;
}

#label_paid, #label_change, #label_discount, #label_total_amount,
#label_discount, #label_change, #label_paid, #label_amount,
#label_untaxed_amount, #label_taxes_amount, #field_total_amount,
#field_change, #field_discount, #field_paid, #field_untaxed_amount,
#field_taxes_amount {
    min-height: 10px;
    font-size: bold 14pt;
}

#img_pixmap_pos {
  min-width: 200pt;
  min-height: 100pt;
}

#label_total_amount, #field_total_amount {
  font: bold 20pt;
}

#field_invoice_type, #field_kind, #field_payment_method {
    color: #424242;
    min-height: 20px;
    font-size: 12pt;
    min-width: 90px;
}

#label_message {
    font-size: 12pt;
    height: 56px;
    min-width: 150px;
}

#field_amount, #field_sign {
    font-size: bold 30px;
    color: rgb(43, 60, 77);
    height: 55px;
}

QTableView {
  font-size: 1.5em; /* Tamaño de fuente para todo el QTableView */
}

/* QHeaderView::section {
  background-color: #e6e6e6;
  color: black;
  padding: 2px;
  border: 1px solid #c0c0c0;
  font-weight: bold;
  font-size: 12px; 
} */

QTableView::item {
  padding: 0px; 
  font-size: 1.5em; /* Tamaño de fuente para las celdas */
}