
QAbstractButton {
    font-family: "DejaVu Sans";
    border-style: groove;
    font: 8pt;
    color: rgb(102, 102, 102);
    background-color: rgb(242, 242, 242);
    min-height: 50px;
    min-width : 90px;
    border-color: rgb(208, 208, 208);
    border-width: 0px;
}

#field_total_amount, 
#field_amount,
#label_input,
#field_default,
#field_small_blue,
#field_small_gray,
#field_invoice_number {
  background-color : white;
  border-style : groove;
  border-width : 0.5px;
  border-color : rgb(208, 208, 208);
}

#label_default {
  font : 15pt;
  color : rgb(102, 102, 102);
  min-height : 10px;
  min-width : 80px;
}

#field_default {
  font: bold 15pt;
  min-height : 10px;
}


#field_small_light {
  font : 12px;
  color : #505C66;
}

#label_small_light {
  font : 12px;
  color : white;
}

#field_small_gray, #label_small_gray {
  font : 12px;
  width: auto;
  color : rgb(54, 54, 54);
}

/* #field_medium_gray, #label_medium_gray {
  font : 12px;
  color : rgb(54, 54, 54);
}

#field_big_gray, #label_big_gray {
  font : 12px;
  color : rgb(54, 54, 54);
} */

#field_small_blue, #label_small_blue  {
  font : 12px;
  width: auto;
  color : rgb(0, 30, 80);
}

/* #field_medium_blue, #label_medium_blue {
  font : 12px;
  color : rgb(0, 30, 80);
}

#field_big_blue, #label_big_blue {
  font : bold 15px;
  color : rgb(0, 30, 80);
} */

#field_small_orange, #label_small_orange  {
  font : 12px;
  width: auto;
  color : rgb(235, 160, 15);
}

/* #field_medium_orange, #label_medium_orange {
  font : 12px;
  color : rgb(235, 160, 15);
}

#field_big_orange, #label_big_orange {
  font : bold 15px;
  color : rgb(235, 160, 15);
} */
QListView {
  font: bold 26px;
  color: #383838;
  alignment : center;
}

QDialog {
    min-height : 200px;
    min-width : 300px;
    max-height : 600px;
}

#label_gray {
    font: bold 15pt;
    min-height : 10px;
    min-width : 20px;
    color: rgb(102, 102, 102);
}

#label_blue {
    font: bold 15pt;
    color: rgb(17, 84, 102);
    min-height : 10px;
    min-width : 20px;
}

#label_message {
    font : 8pt;
    min-height : 35px;
    min-width : 20px;
}

#field_invoice_number {
    font : 9pt;
    min-height : 30px;
    min-width : 80px;
}

#label_input {
    font : 8pt;
    min-height : 20px;
    min-width : 180px;
}


#field_sign {
  font: bold 18pt;
  min-height : 20px;
  max-width: 80px;
} 

#field_amount {
  font: 18pt;
  min-height : 60px;
  max-width: 280px;
}

#field_total_money {
  padding-right: 150px;
  min-height : 30px;
  max-width : 210px;
  min-width : 80px;
}

#field_total_amount, #label_total_amount {
    color : rgb(50, 65, 75);
}

#table_sale_lines {
  color : rgb(70, 70, 70);
  font : 7pt;
  max-height: 300px;
}

#label_product, #label_qty, #spin_box_qty, #field_price,
#label_price, #row_field_note {
  font : 15px;
  alignment : center;
}


QSpinBox {
    padding-right: 15px;
    border-width: 3;
    height: 20px;
}

QSpinBox::up-button {
    subcontrol-position: right;
    height: 20px;
    width: 20px;
}

QSpinBox::down-button {
    subcontrol-position: left;
    height: 20px;
    width: 20px;
}

/* #field_invoice_type, #field_kind, #field_payment_method {
  color: #424242;
  min-height: 22px;
  font: 14pt;
  min-width: 90px;
}
*/

/* #label_message {
  font-size: 12pt;
  min-height: 25px;
  min-width: 120px;
}  */

QTableView {
  font-size: 10px; /* Tamaño de fuente para todo el QTableView */
}

/* QHeaderView::section {
  background-color: #e6e6e6;
  color: black;
  padding: 2px;
  border: 1px solid #c0c0c0;
  font-weight: bold;
  font-size: 12px; 
} */

QTableView::item {
  padding: 0px; 
  font-size: 10px; /* Tamaño de fuente para las celdas */
}

